h1, h2, h3 {
    text-align: center;
    color: white !important;
}
.row {
    justify-content: center;
}
body {
    background-image: url("../images/prehistoric-background-dinosaur.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron {
    background:transparent !important;
}
#paper {
    background-image: url(../images/paper.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 25px 50px 50px 50px;
}
.col-md-4 {
    align-content: center;
}
#end-image {
    height: 200px;
}
#img-area {
    align-content: center;
}
.hide {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
 }